<head>
	<meta charset="utf-8">
	<title>Abschlusspruefung</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:title" content="Meine Abschlussprüfung 2019/2020">
	<meta property="og:description" content="Hab' mir Mühe gegeben">

	<link rel="stylesheet" href="css/main.css">
</head>