<script type="application/javascript" src="js/vendor/jquery.min.js"></script>
<script type="application/javascript" src="js/vendor/slick.js"></script>
<script type="application/javascript" src="js/build.min.js"></script>
