<!DOCTYPE html>
<html lang="en">
include meta/head.pug
<body>
include partials/header.pug

<main class="page-wrap">

	<!--INTRO-->
	<section class="intro base-space" data-intro>
		<img class="intro__image" src="img/intro-lehrpfade.png" alt="replace this">
		<button type="button" class="intro__scroll" data-intro-scroll>
			<svg width="31" height="19" viewBox="0 0 31 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15.9732 18.1388C16.3891 17.9075 16.7865 17.6504 17.1779 17.3869C17.5754 17.1235 18.0096 16.8471 18.4437 16.5386C19.3304 15.941 20.2599 15.2405 21.22 14.4886C23.1218 12.9719 25.0664 11.179 26.6686 9.34098C29.9219 5.68431 31.7258 1.95052 30.723 1.26288C30.2888 0.947987 29.2309 1.92481 27.7632 3.42861C26.3017 4.93884 24.3816 6.96318 22.3024 8.85257C18.2603 12.6378 13.1113 16.0117 13.2764 15.459C13.0074 15.4847 12.775 15.4397 12.4754 15.2662C12.1757 15.0927 11.8394 14.7714 11.5092 14.3601C11.1728 13.9488 10.861 13.4668 10.5246 12.927C10.1761 12.3743 9.83361 11.828 9.49116 11.2818C8.12748 9.10963 6.80661 7.02744 5.60193 5.25373C3.18644 1.71274 1.21737 -0.587947 0.208366 0.13182C-0.65387 0.748761 1.2724 4.51469 3.91415 8.91041C4.57458 10.0093 5.27783 11.1468 5.99941 12.2843C6.36021 12.8498 6.721 13.4218 7.0818 13.9873C7.4487 14.5529 7.78504 15.0927 8.19475 15.6968C8.60447 16.288 9.05699 16.8793 9.6257 17.4319C10.1944 17.9782 10.8915 18.4923 11.7354 18.7686C12.5671 19.0643 13.4966 19.0514 14.2182 18.8715C14.9398 18.6915 15.5085 18.4023 15.9732 18.1388Z" fill="#6C7724" />
			</svg>

			<span class="show-for-sr">Zum Inhalt</span>
		</button>
	</section>

	<!--TEXT-ONLY-->
	<section class="text-only base-space">

		<div class="grid-container">
			<div class="grid-x grid-margin-x align-center">
				<div class="cell small-12 large-10">
					<h1 class="headline headline--l">
						| Lehr- und Naturpfade
						<svg width="49" height="8" viewBox="0 0 49 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.1602 3.52751C19.7702 3.55751 13.9802 3.43751 9.05016 3.43751C4.12016 3.44751 -0.0298384 2.95751 0.000161641 4.40751C0.0301616 5.82751 5.92016 5.52751 12.0502 5.68751C18.1802 5.84751 24.4802 5.71751 25.1802 5.70751C35.8002 5.58751 48.4002 6.58751 48.3402 3.95751C48.3102 2.37751 43.9402 3.21751 38.6202 3.26751C33.2902 3.35751 27.0202 3.45751 23.1602 3.52751Z" fill="#94C8D9" />
						</svg>
					</h1>
					<div class="text-only__split">
						<p>
							| Kommen Sie ins Museum Natur pur in Bad Langensalza!
							| Wir bieten Erlebnisse für alle fünf Sinne:
						</p>
						<ul>
							<li><span class="revert-color">für Kinder und Erwachsene</span></li>
							<li><span class="revert-color">für Familien und Schulklassen</span></li>
							<li><span class="revert-color">für Wandergruppen und Städtereisende</span></li>
						</ul>
						<p>
							| Mit uns lernen Sie die heimische Tier- und Pflanzenwelt kennen. Wir bieten Naturerlebnisse im Museum und
							| bei Exkursionen.
						</p>
						<p>Wir bieten Natur pur – im Museum oder draußen in Wald und Feld, und zwar mit unseren Highlights:</p>
						<ul>
							<li><span class="revert-color">5-Sinne-Rallye im Wald</span></li>
							<li><span class="revert-color">Waldausstellung im Museum mit Hör- und Geruchsproben</span></li>
							<li><span class="revert-color">Forschungsreise zwischen Rosengarten und Museum</span></li>
						</ul>
						<br>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--TEXT-ONLY-->
	<section class="text-only base-space">

		<div class="grid-container">
			<div class="grid-x grid-margin-x align-center">
				<div class="cell small-12 large-10">
					<h1 class="headline headline--l">
						| 5-Sinne-Rallye im Wald
						<svg width="49" height="8" viewBox="0 0 49 8" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.1602 3.52751C19.7702 3.55751 13.9802 3.43751 9.05016 3.43751C4.12016 3.44751 -0.0298384 2.95751 0.000161641 4.40751C0.0301616 5.82751 5.92016 5.52751 12.0502 5.68751C18.1802 5.84751 24.4802 5.71751 25.1802 5.70751C35.8002 5.58751 48.4002 6.58751 48.3402 3.95751C48.3102 2.37751 43.9402 3.21751 38.6202 3.26751C33.2902 3.35751 27.0202 3.45751 23.1602 3.52751Z" fill="#94C8D9" />
						</svg>
					</h1>
					<div class="text-only__split">
						<p>
							| Die 5-Sinne-Rallye ist ein Angebot für Familien, Schulklassen oder einzelne Erwachsene. Der Lebensraum
							| Wald soll greif- und erlebbar werden. An den einzelnen Stationen wird spielerisch vermittelt, wie wichtig
							| der Wald ist und dass wir diesen Lebensraum bewahren müssen.
							| Vielleicht kann dieses Angebot auch die Initialzündung für ein eigenes Museumsprojekt der sog. „Citizen
							| Science“ sein. Mit dem Ziel, dass Laien regelmäßige Naturbeobachtungen machen, die sie dann mit Fachleuten
							| auswerten.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	include partials/map.pug

</main>

include partials/footer.pug
include partials/fixed-nav.pug
include partials/modal.pug
include meta/js-footer.pug
</body>
</html>
