<header class="header" data-header>
	<div class="grid-container header__inner">
		<a href="index.html" class="header__logo-link">
			<div class="header__logo-wrap">

				<!--Textmarke-->
				<svg class="header__logo header__logo--text" width="120" height="81" viewBox="0 0 120 81" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.57009 2.97647C2.35514 2.2 3.14019 1.29412 4.57944 1.29412C5.49533 1.29412 6.28037 1.81176 6.28037 3.23529V11H7.85047V2.97647C8.50467 2.2 9.42056 1.29412 10.729 1.29412C11.7757 1.29412 12.4299 1.81176 12.4299 3.23529V11H14V3.23529C14 0.647059 12.4299 0 10.9907 0C9.68224 0 8.50467 0.647059 7.58879 1.68235C7.19626 0.647059 6.14953 0 4.71028 0C3.66355 0 2.48598 0.517647 1.57009 1.55294V1.68235V0.258824H0V11H1.57009V2.97647Z" fill="white" />
					<path d="M25 11.7176V0H23.4516V8.75294C22.8065 9.6 21.5161 10.5882 20.3548 10.5882C19.3226 10.5882 18.5484 10.0235 18.5484 8.47059V0H17V8.61177C17 11.1529 18.5484 12 20.0968 12C21.2581 12 22.4194 11.2941 23.3226 10.1647V11.7176H25Z" fill="white" />
					<path d="M32.2581 10.6207C30.9677 10.6207 29.9355 9.93103 29.1613 8.82759L28 9.7931C29.0323 11.1724 30.5806 12 32.2581 12C34.1935 12 36 10.8966 36 8.68966C36 4.41379 29.8065 5.65517 29.8065 3.17241C29.8065 2.2069 30.4516 1.51724 31.7419 1.51724C32.9032 1.51724 33.6774 2.06897 34.4516 3.17241L35.4839 2.2069C34.8387 0.827586 33.2903 0 31.871 0C29.8065 0 28.3871 1.10345 28.2581 3.03448C28.129 7.17241 34.4516 5.65517 34.4516 8.55172C34.5806 9.65517 33.8064 10.6207 32.2581 10.6207Z" fill="white" />
					<path d="M42.3623 11C45.1159 11 46.2754 9.72093 47 8.56977L45.6957 7.93023C44.971 9.08139 43.8116 9.72093 42.3623 9.72093C40.3333 9.72093 38.7391 8.05814 38.7391 5.75581H46.5652V4.86046C46.5652 1.40698 44.5362 0 41.9275 0C39.029 0 37 2.04651 37 5.5C37.1449 9.46512 39.7536 11 42.3623 11ZM42.0725 1.27907C43.8116 1.27907 44.971 2.55814 44.971 4.60465H38.8841C39.029 2.55814 40.1884 1.27907 42.0725 1.27907Z" fill="white" />
					<path d="M52.2258 11C53.3871 11 54.5484 10.3452 55.4516 9.29762V10.7381H57V0H55.4516V8.11905C54.8064 8.90476 53.5161 9.82143 52.3548 9.82143C51.3226 9.82143 50.5484 9.29762 50.5484 7.85714V0H49V7.9881C49.129 10.2143 50.6774 11 52.2258 11Z" fill="white" />
					<path d="M61.6667 2.97647C62.5 2.2 63.4722 1.29412 64.8611 1.29412C65.8333 1.29412 66.6667 1.81176 66.6667 3.23529V11H68.3333V2.97647C69.1667 2.2 70 1.29412 71.5278 1.29412C72.5 1.29412 73.3333 1.81176 73.3333 3.23529V11H75V3.23529C75 0.517647 73.3333 0 71.8056 0C70.4167 0 69.1667 0.647059 68.1944 1.68235C67.6389 0.647059 66.5278 0 65.1389 0C64.0278 0 62.7778 0.517647 61.8056 1.55294L61.6667 1.68235V0.258824H60V11H61.6667V2.97647Z" fill="white" />
					<path d="M17.994 36.7788H17.8623L6.66467 17H1V46H6.13773V25.4194L17.8623 46H23V17H17.994V36.7788Z" fill="white" />
					<path d="M34.1486 17L26 46H31.3886L33.0971 39.7189H42.0343L43.6114 46H49L40.8514 17H34.1486ZM34.1486 35.1751L37.4343 22.6129H37.5657L40.72 35.1751H34.1486Z" fill="white" />
					<path d="M54.7226 46H60.2774V21.6774H68V17H47V21.6774H54.7226V46Z" fill="white" />
					<path d="M93 35.5455V17H87.5663V35.8182C87.5663 40.5909 85.7108 42.2273 82 42.2273C78.2892 42.2273 76.4337 40.5909 76.4337 35.8182V17H71V35.5455C71 44.1364 76.1687 47 82 47C87.8313 47 93 44.1364 93 35.5455Z" fill="white" />
					<path d="M108.4 34.2396L113.867 46H120L113.6 33.0369C117.067 31.9677 118.933 29.1613 118.933 25.553C118.933 20.7419 116.267 17 109.733 17H98V46H103.467V34.2396H108.4ZM103.6 21.5438H108.667C111.733 21.5438 113.333 22.8802 113.333 25.6866C113.333 28.3594 112 29.8295 107.733 29.8295H103.6V21.5438Z" fill="white" />
					<path d="M10.7032 52H0V81H5.55484V69.2396H10.7032C17.071 69.2396 21 66.7005 21 60.6866C21 54.6728 17.071 52 10.7032 52ZM10.0258 64.6959H5.55484V56.4101H10.0258C14.2258 56.4101 15.4452 58.0138 15.4452 60.553C15.4452 63.2258 14.2258 64.6959 10.0258 64.6959Z" fill="white" />
					<path d="M40.5663 70.0591C40.5663 74.6727 38.7108 76.2545 35 76.2545C31.2892 76.2545 29.4337 74.6727 29.4337 70.0591V52H24V69.9273C24 78.2318 29.1687 81 35 81C40.8313 81 46 78.2318 46 69.9273V52H40.5663V70.0591Z" fill="white" />
					<path d="M71.9202 60.553C71.9202 55.7419 69.2209 52 62.6074 52H51V81H56.5337V69.2396H61.3926L66.9264 81H73L66.5215 68.0369C70.1656 67.1014 71.9202 64.1613 71.9202 60.553ZM60.5828 64.6959H56.3988V56.5438H61.5276C64.6319 56.5438 66.2515 57.8802 66.2515 60.6866C66.3865 63.3594 65.0368 64.6959 60.5828 64.6959Z" fill="white" />
				</svg>

				<!--Bildmarke-->
				<svg class="header__logo header__logo--image" width="134" height="134" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M33.5 59.4829L22.061 69.7781L24.6756 68.961H24.839L33.5 66.8366V59.4829Z" fill="white" />
					<path d="M76.9683 69.2878L79.7463 66.5098C79.7463 66.5098 79.9098 66.3463 80.0732 66.3463H89.8781L99.3561 22.5512L72.5561 65.3659L76.9683 69.2878Z" fill="white" />
					<path d="M30.0683 52.1293C30.0683 51.9659 30.2317 51.9659 30.3951 51.9659H36.7683L21.4073 31.0488L24.022 63.2415L30.0683 52.1293Z" fill="white" />
					<path d="M25.1659 69.6146L32.1927 88.4073L31.0488 68.1439L25.1659 69.6146Z" fill="white" />
					<path d="M30.5585 52.6195L21.8976 68.961L39.8732 52.6195H30.5585Z" fill="white" />
					<path d="M76.4781 69.7781L68.7976 63.2415L56.5415 77.4585C56.5415 77.4585 56.5415 77.4585 56.5415 77.6219L49.1878 102.788L76.4781 69.7781Z" fill="white" />
					<path d="M49.5146 65.5293L56.378 76.9683L68.1439 63.2415L49.5146 65.5293Z" fill="white" />
					<path d="M40.8537 51.9659C41.0171 51.9659 41.0171 51.9659 41.1805 52.1293L49.0244 64.8756L68.7976 62.4244C68.961 62.4244 68.961 62.4244 69.1244 62.5878L72.0658 65.039L73.8634 62.0976L21.8976 30.3951L37.5854 51.8024L40.8537 51.9659Z" fill="white" />
					<path d="M40.8537 52.7829L34.1537 58.8293V66.8366L42.4878 112.593L46.0829 110.959L55.8878 77.6219L40.8537 52.7829Z" fill="white" />
					<path d="M80.2366 67.1634L77.4585 69.7781C77.4585 69.9415 77.4585 69.9415 77.4585 70.1049L69.4512 79.7463H121.254L90.2049 67.1634H80.2366Z" fill="white" />
					<path d="M31.7024 67.9805L34.4805 112.429L40.3634 105.076L33.5 67.4902L31.7024 67.9805Z" fill="white" />
					<path d="M49.3512 103.932L120.763 80.4H68.7976L49.3512 103.932Z" fill="white" />
					<path d="M67 0C29.9049 0 0 29.9049 0 67C0 104.095 29.9049 134 67 134C103.932 134 134 104.095 134 67C134 29.9049 103.932 0 67 0ZM123.215 80.4L88.8976 91.6756V105.893C88.8976 106.056 88.8976 106.056 88.7341 106.22C88.5707 106.22 88.5707 106.383 88.4073 106.22L71.0854 100.827L46.7366 111.449L42.4878 113.573H42.161C41.9976 113.573 41.9976 113.41 41.9976 113.246L40.6902 106.056L34.3171 113.573C34.3171 113.737 34.1537 113.737 33.9902 113.737C33.9902 113.737 33.9902 113.737 33.8268 113.737C33.6634 113.737 33.6634 113.573 33.5 113.41L32.1927 90.8585L24.5122 69.7781L20.7537 70.7585C20.5902 70.7585 20.4268 70.7585 20.4268 70.5951C20.2634 70.4317 20.2634 70.2683 20.4268 70.2683L23.5317 64.3854L20.5902 29.4146C20.5902 29.2512 20.5902 29.0878 20.7537 29.0878C20.9171 29.0878 21.0805 29.0878 21.0805 29.0878L74.1902 61.4439L99.8463 20.4268C100.01 20.2634 100.173 20.2634 100.337 20.2634C100.5 20.2634 100.663 20.4268 100.5 20.7537L90.5317 66.6732L123.051 79.9098C123.215 79.9098 123.215 80.0732 123.215 80.2366C123.378 80.2366 123.378 80.4 123.215 80.4Z" fill="white" />
					<path d="M71.5756 100.337L88.2439 105.566V92.0024L71.5756 97.3951V100.337Z" fill="white" />
					<path d="M48.861 104.912L47.3902 109.815L53.6 103.278L48.861 104.912Z" fill="white" />
					<path d="M55.0707 102.788L48.0439 110.141L70.7585 100.337V97.7219L55.0707 102.788Z" fill="white" />
				</svg>
			</div>
		</a>

		<!--Burger Button-->
		<button type="button" class="hide-for-large header__burger" data-burger>
			<span>Menü</span>

			<svg xmlns="http://www.w3.org/2000/svg" width="31.875" height="27.656" viewBox="0 0 31.875 27.656"><defs><style>.cls-1 {fill-rule: evenodd;}</style></defs>
				<path id="Form_1" data-name="Form 1" class="cls-1" d="M31.937,2.509C32,4.768,20.794,4.848,16.357,5.252,10.285,5.806.062,7.018,0.062,3.01S11.693,0.434,16.312.5C21.623,0.578,31.874.356,31.937,2.509Zm0,21.98c0.067,2.258-11.143,2.339-15.58,2.743C10.285,27.786.062,29,.062,24.99s11.63-2.576,16.25-2.509C21.623,22.558,31.874,22.336,31.937,24.489ZM0.062,14.544C0,12.285,11.206,12.205,15.643,11.8c6.072-.554,16.295-1.766,16.295,2.242s-11.63,2.576-16.25,2.509C10.377,16.475.126,16.7,0.062,14.544Z" transform="translate(-0.063 -0.188)" />
			</svg>
		</button>

		<nav class="header__nav">
			<ul class="header__nav-list show-for-large">
				<li class="header__nav-item">
					<a href="index.html" class="header__nav-link" data-nav-link="start">Start</a>
				</li>

				<li class="header__nav-item">
					<a href="#" class="header__nav-link" data-nav-link="museum">Museum</a>
				</li>

				<li class="header__nav-item">
					<a href="lehrpfade.html" class="header__nav-link" data-nav-link="lehrpfade">Lehrpfade</a>
				</li>

				<li class="header__nav-item">
					<a href="#" class="header__nav-link" data-nav-link="tagung">Tagung</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
include mobile-nav.pug

