<aside class="modal" data-modal>

	<div class="slider-wrap">
		<div class="grid-container">

			<div class="slider" data-slider>
				<div class="slide">

					<button type="button" class="slide__close" data-modal-close>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9853 14.2574C12.8942 15.169 13.8082 16.1148 14.7049 17.0428C18.743 21.2213 22.4312 25.0378 23.7254 23.7436C24.9537 22.5153 18.43 16.0884 14.2529 11.9732C14.2476 11.968 14.2423 11.9628 14.237 11.9575C15.1572 11.0397 16.1127 10.1165 17.0499 9.21109C21.2256 5.17677 25.037 1.49437 23.7436 0.200942C22.5144 -1.02823 16.0791 5.50277 11.9643 9.67874C11.9622 9.6809 11.96 9.68307 11.9579 9.68523C11.5501 9.26648 11.1009 8.79842 10.6228 8.30028C6.93903 4.46197 1.54062 -1.16288 0.166109 0.211639C-0.950593 1.32834 6.28376 8.66355 9.66448 11.9847C9.25103 12.3871 8.79021 12.8294 8.30028 13.2996C4.46197 16.9834 -1.16288 22.3818 0.211639 23.7563C1.3284 24.8731 8.66438 17.6378 11.9853 14.2574Z" fill="#7A8727" />
						</svg>
						<span class="show-for-sr">Schließen</span>
					</button>

					<div class="grid-x grid-margin-x align-center slide__inner">
						<div class="cell large-3 small-10">
							<img src="img/slider/moos.png" alt="Moos">
						</div>
						<div class="cell large-7 small-10">

							<h2 class="headline headline--m">
								| Wie läuft es sich auf Moos?
								<svg width="49" height="8" viewBox="0 0 49 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23.1602 3.52751C19.7702 3.55751 13.9802 3.43751 9.05016 3.43751C4.12016 3.44751 -0.0298384 2.95751 0.000161641 4.40751C0.0301616 5.82751 5.92016 5.52751 12.0502 5.68751C18.1802 5.84751 24.4802 5.71751 25.1802 5.70751C35.8002 5.58751 48.4002 6.58751 48.3402 3.95751C48.3102 2.37751 43.9402 3.21751 38.6202 3.26751C33.2902 3.35751 27.0202 3.45751 23.1602 3.52751Z" fill="#94C8D9" />
								</svg>
							</h2>
							<p>
								| Wir gehen barfuß, mit Socken und mit Schuhen über den Waldboden. Wir probieren es mit verbundenen
								| Augen. Und wir beobachten und vergleichen, was passiert.
							</p>
						</div>
					</div>
				</div>

				<div class="slide">

					<button type="button" class="slide__close" data-modal-close>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9853 14.2574C12.8942 15.169 13.8082 16.1148 14.7049 17.0428C18.743 21.2213 22.4312 25.0378 23.7254 23.7436C24.9537 22.5153 18.43 16.0884 14.2529 11.9732C14.2476 11.968 14.2423 11.9628 14.237 11.9575C15.1572 11.0397 16.1127 10.1165 17.0499 9.21109C21.2256 5.17677 25.037 1.49437 23.7436 0.200942C22.5144 -1.02823 16.0791 5.50277 11.9643 9.67874C11.9622 9.6809 11.96 9.68307 11.9579 9.68523C11.5501 9.26648 11.1009 8.79842 10.6228 8.30028C6.93903 4.46197 1.54062 -1.16288 0.166109 0.211639C-0.950593 1.32834 6.28376 8.66355 9.66448 11.9847C9.25103 12.3871 8.79021 12.8294 8.30028 13.2996C4.46197 16.9834 -1.16288 22.3818 0.211639 23.7563C1.3284 24.8731 8.66438 17.6378 11.9853 14.2574Z" fill="#7A8727" />
						</svg>
						<span class="show-for-sr">Schließen</span>
					</button>

					<div class="grid-x grid-margin-x align-center slide__inner">
						<div class="cell large-3 small-10">
							<img src="img/slider/bach.png" alt="Bach">
						</div>
						<div class="cell large-7 small-10">

							<h2 class="headline headline--m">
								| Wann prickelt das Bachwasser an den Beinen?
								<svg width="49" height="8" viewBox="0 0 49 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23.1602 3.52751C19.7702 3.55751 13.9802 3.43751 9.05016 3.43751C4.12016 3.44751 -0.0298384 2.95751 0.000161641 4.40751C0.0301616 5.82751 5.92016 5.52751 12.0502 5.68751C18.1802 5.84751 24.4802 5.71751 25.1802 5.70751C35.8002 5.58751 48.4002 6.58751 48.3402 3.95751C48.3102 2.37751 43.9402 3.21751 38.6202 3.26751C33.2902 3.35751 27.0202 3.45751 23.1602 3.52751Z" fill="#94C8D9" />
								</svg>
							</h2>
							<p>
								| Wir krempeln die Hosenbeine hoch und steigen an verschiedenen Stellen in den Bach. Dann lassen wir uns
								| mit verbundenen Augen durchs Wasser führen. Und wir beobachten und vergleichen, was passiert.
							</p>
						</div>
					</div>
				</div>

				<div class="slide">

					<button type="button" class="slide__close" data-modal-close>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9853 14.2574C12.8942 15.169 13.8082 16.1148 14.7049 17.0428C18.743 21.2213 22.4312 25.0378 23.7254 23.7436C24.9537 22.5153 18.43 16.0884 14.2529 11.9732C14.2476 11.968 14.2423 11.9628 14.237 11.9575C15.1572 11.0397 16.1127 10.1165 17.0499 9.21109C21.2256 5.17677 25.037 1.49437 23.7436 0.200942C22.5144 -1.02823 16.0791 5.50277 11.9643 9.67874C11.9622 9.6809 11.96 9.68307 11.9579 9.68523C11.5501 9.26648 11.1009 8.79842 10.6228 8.30028C6.93903 4.46197 1.54062 -1.16288 0.166109 0.211639C-0.950593 1.32834 6.28376 8.66355 9.66448 11.9847C9.25103 12.3871 8.79021 12.8294 8.30028 13.2996C4.46197 16.9834 -1.16288 22.3818 0.211639 23.7563C1.3284 24.8731 8.66438 17.6378 11.9853 14.2574Z" fill="#7A8727" />
						</svg>
						<span class="show-for-sr">Schließen</span>
					</button>

					<div class="grid-x grid-margin-x align-center slide__inner">
						<div class="cell large-3 small-10">
							<img src="img/slider/walderdbeere.png" alt="Walderdbeere">
						</div>
						<div class="cell large-7 small-10">

							<h2 class="headline headline--m">
								| Wie schmeckt die Walderdbeere?
								<svg width="49" height="8" viewBox="0 0 49 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23.1602 3.52751C19.7702 3.55751 13.9802 3.43751 9.05016 3.43751C4.12016 3.44751 -0.0298384 2.95751 0.000161641 4.40751C0.0301616 5.82751 5.92016 5.52751 12.0502 5.68751C18.1802 5.84751 24.4802 5.71751 25.1802 5.70751C35.8002 5.58751 48.4002 6.58751 48.3402 3.95751C48.3102 2.37751 43.9402 3.21751 38.6202 3.26751C33.2902 3.35751 27.0202 3.45751 23.1602 3.52751Z" fill="#94C8D9" />
								</svg>
							</h2>
							<p>
								| Wir sammeln Beeren und machen einen Geschmackstest mit verbundenen Augen. Und wir beobachten und
								| vergleichen, was passiert, wenn wir sehen, was wir essen.
							</p>
						</div>
					</div>
				</div>

				<div class="slide">

					<button type="button" class="slide__close" data-modal-close>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9853 14.2574C12.8942 15.169 13.8082 16.1148 14.7049 17.0428C18.743 21.2213 22.4312 25.0378 23.7254 23.7436C24.9537 22.5153 18.43 16.0884 14.2529 11.9732C14.2476 11.968 14.2423 11.9628 14.237 11.9575C15.1572 11.0397 16.1127 10.1165 17.0499 9.21109C21.2256 5.17677 25.037 1.49437 23.7436 0.200942C22.5144 -1.02823 16.0791 5.50277 11.9643 9.67874C11.9622 9.6809 11.96 9.68307 11.9579 9.68523C11.5501 9.26648 11.1009 8.79842 10.6228 8.30028C6.93903 4.46197 1.54062 -1.16288 0.166109 0.211639C-0.950593 1.32834 6.28376 8.66355 9.66448 11.9847C9.25103 12.3871 8.79021 12.8294 8.30028 13.2996C4.46197 16.9834 -1.16288 22.3818 0.211639 23.7563C1.3284 24.8731 8.66438 17.6378 11.9853 14.2574Z" fill="#7A8727" />
						</svg>
						<span class="show-for-sr">Schließen</span>
					</button>

					<div class="grid-x grid-margin-x align-center slide__inner">
						<div class="cell large-3 small-10">
							<img src="img/slider/sonne.png" alt="Sonne">
						</div>
						<div class="cell large-7 small-10">

							<h2 class="headline headline--m">
								| Wo spüre ich die Sonne?
								<svg width="49" height="8" viewBox="0 0 49 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23.1602 3.52751C19.7702 3.55751 13.9802 3.43751 9.05016 3.43751C4.12016 3.44751 -0.0298384 2.95751 0.000161641 4.40751C0.0301616 5.82751 5.92016 5.52751 12.0502 5.68751C18.1802 5.84751 24.4802 5.71751 25.1802 5.70751C35.8002 5.58751 48.4002 6.58751 48.3402 3.95751C48.3102 2.37751 43.9402 3.21751 38.6202 3.26751C33.2902 3.35751 27.0202 3.45751 23.1602 3.52751Z" fill="#94C8D9" />
								</svg>
							</h2>
							<p>
								| Wir springen in den Schatten und decken uns mit Zweigen zu. Erst strecken wir den nackten Bauch ins
								| Licht und danach die geschlossenen Augen. Und wir beobachten und vergleichen, was passiert.
							</p>
						</div>
					</div>
				</div>

				<div class="slide">

					<button type="button" class="slide__close" data-modal-close>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9853 14.2574C12.8942 15.169 13.8082 16.1148 14.7049 17.0428C18.743 21.2213 22.4312 25.0378 23.7254 23.7436C24.9537 22.5153 18.43 16.0884 14.2529 11.9732C14.2476 11.968 14.2423 11.9628 14.237 11.9575C15.1572 11.0397 16.1127 10.1165 17.0499 9.21109C21.2256 5.17677 25.037 1.49437 23.7436 0.200942C22.5144 -1.02823 16.0791 5.50277 11.9643 9.67874C11.9622 9.6809 11.96 9.68307 11.9579 9.68523C11.5501 9.26648 11.1009 8.79842 10.6228 8.30028C6.93903 4.46197 1.54062 -1.16288 0.166109 0.211639C-0.950593 1.32834 6.28376 8.66355 9.66448 11.9847C9.25103 12.3871 8.79021 12.8294 8.30028 13.2996C4.46197 16.9834 -1.16288 22.3818 0.211639 23.7563C1.3284 24.8731 8.66438 17.6378 11.9853 14.2574Z" fill="#7A8727" />
						</svg>
						<span class="show-for-sr">Schließen</span>
					</button>

					<div class="grid-x grid-margin-x align-center slide__inner">
						<div class="cell large-3 small-10">
							<img src="img/slider/biene.png" alt="Biene">
						</div>
						<div class="cell large-7 small-10">

							<h2 class="headline headline--m">
								| Wo finden Waldbienen ihr Zuhause?
								<svg width="49" height="8" viewBox="0 0 49 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M23.1602 3.52751C19.7702 3.55751 13.9802 3.43751 9.05016 3.43751C4.12016 3.44751 -0.0298384 2.95751 0.000161641 4.40751C0.0301616 5.82751 5.92016 5.52751 12.0502 5.68751C18.1802 5.84751 24.4802 5.71751 25.1802 5.70751C35.8002 5.58751 48.4002 6.58751 48.3402 3.95751C48.3102 2.37751 43.9402 3.21751 38.6202 3.26751C33.2902 3.35751 27.0202 3.45751 23.1602 3.52751Z" fill="#94C8D9" />
								</svg>
							</h2>
							<p>
								| Wir stromern durch den Wald und verstecken uns hinter Zweigen, um dem Weg der Waldbienen auf die Spur
								| zu kommen. Und wir beobachten und vergleichen, was passiert.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>